<!-- <header
  class="bg-main1 border-b-[1px] border-ghostwhite fixed flex items-center top-0 left-0 w-full"
>
<div class="container">
  <div class="flex items-center justify-between relative">
    <div class="px-5 lg:ml-40">
      <a href="#home"
        ><img src="../public/img/note2.png" alt="" class="py-6 inline-block" />
        <p class="text-xl font-bold inline-block text-ghostwhite lg:text-2xl">
          Todo list
        </p></a
      >
    </div>

    <div class="flex items-center px-5">
      <button
        class="block right-5 absolute stack lg:hidden"
        type="button"
        name="stack"
      >
        <span class="stack-line"></span>
        <span class="stack-line"></span>
        <span class="stack-line"></span>
      </button>
      <nav
        id="navbar"
        class="hidden absolute py-4 bg-ghostwhite top-20 right-5 w-full max-w-[240px] shadow-md rounded-lg lg:block lg:static lg:bg-transparent lg:max-w-full lg:shadow-none lg:rounded-none"
      >
        <ul class="block lg:flex">
          <li class="group">
            <a
              href="#"
              class="flex mx-7 py-2 text-base text-dark lg:text-ghostwhite lg:group-hover:bg-transparent group-hover:bg-dark group-hover:text-ghostwhite group-hover:rounded-md group-hover:px-2 group-hover:mx-0"
              ><i class="fa-solid fa-house mr-2"></i>Home</a
            >
          </li>
          <li class="group">
            <a
              href="#about"
              class="flex mx-7 py-2 text-base text-dark lg:text-ghostwhite lg:group-hover:bg-transparent group-hover:bg-dark group-hover:text-ghostwhite group-hover:rounded-md group-hover:px-2 group-hover:mx-0"
              ><i class="fa-solid fa-circle-question mr-2"></i>Info</a
            >
          </li>
          <li class="group">
            <a
              href="#"
              class="flex mx-7 py-2 text-base text-dark lg:text-ghostwhite lg:group-hover:bg-transparent group-hover:bg-dark group-hover:text-ghostwhite group-hover:rounded-md group-hover:px-2 group-hover:mx-0"
              ><i class="fa-solid fa-table-list mr-2"></i>Todo list</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
</header> -->
